{% extends "base.html" %} {% block sidebar %}
<div
   class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
   style="width: 280px; height: 100vh"
>
   <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
   >
      <span class="fs-5 fw-bold">Hệ thống quản lý học sinh</span>
   </a>
   <hr />
   <ul class="nav nav-pills flex-column mb-auto">
      {% for nav_item in nav_items %}
      <li class="nav-item">
         <a
            href="{{ url_for(nav_item.href) }}"
            class="nav-link {{ 'active' if request.path == url_for(nav_item.href) else 'link-body-emphasis' }}"
            aria-current="page"
         >
            {{ nav_item.icon | safe }} {{ nav_item.title }}
         </a>
      </li>
      {% endfor %}
   </ul>

   <div
      class="d-flex align-items-center justify-content-between text-decoration-none"
   >
      <div class="d-flex align-items-center">
         <img
            src="https://github.com/mdo.png"
            alt=""
            width="48"
            height="48"
            class="rounded-circle me-2"
         />
         <div>
            <strong>{{user_fullname}}</strong>
            <p class="mb-0">{{user_role}}</p>
         </div>
      </div>
      <a href="/logout" class="link-body-emphasis text-decoration-none">
         <i class="bi bi-box-arrow-right fw-bold" style="font-size: 1.5rem"></i>
      </a>
   </div>
</div>
{% endblock %}
